html {
  height: 100%;
  margin: 0px;
  padding: 0px;}

body {
  margin: 0;
  padding: 0;
}

#s1 #blok1{
  float:left;
  width: 100px;
  height: 40px;
  background-color: #5383e8;

}
#s1 #blok1 h1,a:hover,a:link,a:visited {
  margin: 0;
  font-family: arial;
  color: white;
  font-size: 22px;
  text-decoration: none;
  letter-spacing: -1px;
  transform: translate(+20%,+30%);
}
#s1 #blok2 #wyborgry{
  float: left;
  width: 100px;
  height: 40px;
  background-color: #232f46;
}


#s1 #blok2 #wyborgry img.icon{
      height: 22px;
      width: 22px;
      transform: translate(+80%,+40%);}

#s1 #blok2 #reszta{
    float: left;
    height: 40px;
    width: calc(100% - 200px);
    background-color: #232f46;}
