*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0 solid black;
	--wysokosc: 604px; /* zjebany border ma wplyw */
	--szerokosc: 404px; /* tu też */
	--transxd: translate(-50%,+15%);
}
html {
	display: block;
	position: relative;
}
body {
	background-color: #060802;
	position: relative;
}

#menu1{
	height: 100%;
	width: 100%;
	background-color: #060802;
}
#stronka{
	background-color: black;
}




a#graj{
	user-select: none;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	transition:  0.2s;
	overflow: hidden;
	text-decoration: none;
	display: inline-block;
	color: #39FF14;
	font-size: 48px;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	font-family: consolas;
	padding: 15px 30px;
}
 a#graj:hover{
	color: black;
	background: #39FF14;
	box-shadow: 	0 0 40px #39FF14, 0 0 40px #39FF14, 0 0 80px #39FF14;
	transition-delay: 1s; }
 a#graj span {
	 position: absolute;
	 display: block;}

 a#graj span:nth-child(1){
	 top: 0;
	 left: -100%;
	 width: 100%;
	 height: 2px;
	 background: linear-gradient(90deg,transparent,#39FF14);}

	 a#graj:hover span:nth-child(1){
		 left: 100%;
		 transition: 1s;
	 }

	 a#graj span:nth-child(3){
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg,transparent,#39FF14);}

		a#graj:hover span:nth-child(3){
			right: 100%;
			transition: 1s;
			transition-delay: 0.5s}

	a#graj span:nth-child(2){
		 	 top: -100%;
		 	 right: 0%;
		 	 width: 2px;
		 	 height: 100%;
		 	 background: linear-gradient(180deg,transparent,#39FF14);}

		 	 a#graj:hover span:nth-child(2){
		 		 top: 100%;
		 		 transition: 1s;
				 transition-delay: 0.25s;
		 	 }

			 a#graj span:nth-child(4){
	 			 	 bottom: -100%;
	 			 	 left: 0;
	 			 	 width: 2px;
	 			 	 height: 100%;
	 			 	 background: linear-gradient(360deg,transparent,#39FF14);}

	 			 	 a#graj:hover span:nth-child(4){
	 			 		 bottom: 100%;
	 			 		 transition: 1s;
	 					 transition-delay: 0.75s;
	 			 	 }




#przycisk{
/*	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 20px;
	border: none;
	text-decoration: none;
	background: linear-gradient(45deg,rgb(1,178,255),rgb(83,131,233));
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	position: absolute;
	height: 180px;
	width: 180px;
	border: 0px solid black;
	border-radius: 45%;
	display: block;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: none; */
}
#przycisk:hover{


}
#stronka {
	display: none;
}
div.leader {
	height: calc(var(--wysokosc));
	width: calc(var(--szerokosc));
	position: absolute;
	border: 2px solid orange;
	top: 50%;
	left: 17.5%;
	transform: var(--transxd);
	background-color: grey;
	padding-left:1em;
	font-size:2rem;
}
.wynik{
	text-align:right;
}
div.glowny {
	top: 50%; /* poprawic */
	left: 50%; /* pop */
	transform: var(--transxd);
	height: calc(var(--wysokosc));
	width: calc(var(--szerokosc));
	position: absolute;
 	border: 2px solid red;
}

div.logomo {
	background-color: grey;
	height: calc(var(--wysokosc));
	width: calc(var(--szerokosc));
	position: absolute;
	border: 2px solid blue;
	top: 50%;
	left: 82.5%;
	transform: var(--transxd);
}

img {
	float: left;
	height: 150px;
	width: 100px;
	position: relative;
	border: 1px solid pink;
	display: block;
}

.hidden{
	display: none;
}

#footer {
	position: absolute;
	width: 90vw;
	height: 50px;
	background-color: grey;
	vertical-align: middle;
	border: 2px solid yellow;
	text-align: center;
	font-family: Verdana;
	font-size: 20px;
	color: gold;
	text-transform: uppercase;
	line-height: 40px;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,90vh);
	z-index: 2;
	/*opacity:30%;  Alicja  */
}
h1 {
	position: relative;
	font-size: 30px;
	text-align: center;
left: -2%;
}
li {
	display: inline;
}
li.nick {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
li.wynik {
	position: absolute;
	right: 3%;
}



.dd {
	color: lime;
}
.aa{
	color: cyan; /* dodgerblue */
}
.ac{
	color:orange;
}
.bb{
	color: red;
}

@media (min-width: 331px) and (max-width: 425px) {
#przycisk{
	transform: translate(-50%,-50%);

}
div.logomo {
display: none;}

div#footer{
	display: none;}

div.glowny{
height: 100vh;
width: 100vw;
position: absolute;
top: 0;
left: 0;
transform: translate(0,0);}

img {
height: 24.8vh;
width: 24.7vw;
}

div.leader{
	display: block;
	height: 100vh;
	width: 100vw;
	top: 100vh;
	left: 0;
	transform: translate(0,0);
	float: left;}



}
