* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;}

html {
  scroll-behavior: smooth;
  font-size: 11px;}

header {
  height: 100vh;
  background-color: #81a6e3;
  position: relative;
  overflow: hidden;
  font-family: 'Oswald';
border-bottom: 3px solid black;}

main {
  height: 100vh;
  background-color: #B803FF;}

a,a:hover,a:visited,a:link,a:focus {
  color: black;}

header img {
  position: absolute;
  bottom: -2%;
  height: 60%;
  right: -30%;
  overflow:}

header nav {
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: 3rem;}

header hgroup{
  position: absolute;
  top: 11%;
  left: 8%;
  text-transform: uppercase;
  z-index: 1}

header h1{
  font-size: 4rem;}

header h3 {
  font-size: 2.8rem;
  font-weight: 400;}

#arrow {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  position: absolute;
  bottom: 10%;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
  background-color: rgba(36, 112, 255,0.5);
  animation: strzalka 2s infinite;
}

@keyframes strzalka {
0% {bottom: 10.8%}
50% {bottom: 9.5%}
100% {bottom: 10.8%}
}



@media (orientation: portrait) { /* tekst do drugiej linii */
  hgroup h3 span::after {
    content: '\A';
    white-space: pre;}}

@media (orientation: landscape) {
  header img {
    height: 60%;
    right: 5%;}}

@media (min-width: 100px) and (max-width: 330px) { /* nokia lumia  xD */
  header hgroup {
    left: 6%;}

  header h1 {
    font-size: 3.4rem;}

  header h3 {
    font-size: 2.2rem;}

  header hgroup {
    transform: rotate(-0.5deg);}}

@media (min-width: 331px) and (max-width: 365px) { /* samsung  galaxy s5 */
  header h1 {
    font-size: 3.9rem;}

  header h3 {
    font-size: 2.8rem;}

  header img{
    height: 60%;
    right: -23  %;}}

@media (min-width: 366px) and (max-width: 550px) { /* iphone X */
  header h1 {
    font-size: 4rem;}

  header h3{
    font-size: 3rem;}

  header img {
    height: 53%;
    right: -32%;}}

@media (min-width: 551px) and (max-width: 850px) { /* ipad */
  header h1{
    font-size: 7.5rem;}

  header h3{
    font-size: 5.3rem;}

  header img{
    height: 52%;
    right: -15%;}}

@media (min-width: 851px) { /* pc'ty */
  hgroup h3 span::after {
    content: '\A';
    white-space: pre;}

  header h1{
    font-size: 9.5rem}

  header h3{
    font-size: 6rem}

  header img{
    height: 55%;
    right: 0%}}
