  body {
    width: 99%;
    height: 700px;
    font-family:Verdana;
    background-color:black;
    text-align: center;
    color: white;
    }

  H1 {
    font-size: 250%;
    line-height: 0.1cm}

  a {
    text-decoration: none;}

  a:link,a:visited {
    color: #FFCBEF;}

  a:hover {
    color: #FFFF00;}

  p {
    color: #EE82EE;
  }

  #s2stare {
    display: none;}

footer {
  text-decoration: none;
  bottom:0;
  width:99%; /*taki center */
  position:absolute;
  text-align: center;
  line-height: 0.1cm;
  font-size: 14px;
  color:#EE82EE;}
footer p.jd {
  color:red
}

@media (min-width: 331px) and (max-width: 425px) { /* rozmiar Mobile L */
body {
  height: 88.5vh;
}
footer {
  height: 11.5vh;
}
h1 {
  font-size: 4rem;
}
p.a {
  font-size: 1.7rem;
}
a{
  font-size: 1.1rem;
}

footer {
  font-size: 1rem;
}
a {
  font-style: italic;
}
a.respo {
  font-style: normal;
  color: #ff8cdd;
}




}
