  body {font-family:Verdana;background-color:black; text-align: center; color: white;}
  H1 {font-family:Charlotte;text-align: center; font-size: 250%; line-height: 0.1cm}
  A {font-size: normal; text-decoration: none; line-height: 0.2cm}
  /* link do podstawowy, visited to sie domysl,hover to jak najedziesz*/
  p.basic {color:#EE82EE}
  A:link { COLOR: #FFCBEF;}
  A:visited {COLOR:#FFB6EF;} /*#C0C0C0 kiedys */
  A:hover {COLOR: #FFFF00;}
  footer {color:gold;position:absolute;bottom:0;/*taki center */width:99%;text-align: center;}
  .stopka {line-height: 0.2cm;margin-bottom:0;color:#FF66CC;font-size: smaller}
  .gradient {background: linear-gradient(to right, red, orange, yellow, lime, blue, purple, fuchsia)}
  #pokaz {display: none;}
  #pokaz:target {display: block;}
  #ukryj:target #pokaz {display: none;
@font-face {font-family: Charlotte;src: url(jd.tff);}
