  body {
    width: 99%;
    height: 700px;
    font-family:Verdana;
    background-color:black;
    text-align: center;
    color: white;
    }

  H1 {
    font-size: 250%;
    line-height: 0.1cm}

  a {text-decoration: none;}
  a:link,a:visited {color: #FFCBEF;}
  a:hover {color: #FFFF00;}

  /*#s1 div */ p {color:#EE82EE}
  #s2bat,#s3js,#s4css {display: none}

footer {
  text-decoration: none;
  bottom:0;
  width:99%; /*taki center */
  position:absolute;
  text-align: center;
  line-height: 0.1cm;
  font-size: 14px;
  color:#EE82EE;}
footer p.jd {color:red}
