* {
  --ikonka:url("lolicon2.png");
  --ciemnoszary:#121212;
  --zloty:#c9aa71;}

@font-face {font-family: friz; src: url(frizquadra.ttf)}
@font-face {font-family: penura; src: url(penura.otf)}
body {
  margin:0;
  font-family: Arial;
  color:gold;
  padding: 0;
  margin: 0;
}

#s1 div{
  display: block;
  overflow: hidden;
  height: 50px;
  width:100%;
  background-color: var(--ciemnoszary);
  font-family: friz;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #262626;
  color: var(--zloty);
}

#s1 div a.icon{
  background:var(--ikonka) no-repeat 10px;
  height: 50px;
  width: 50px;
  display: block;
  float:left;}
#s1 div a:visited,a:link{
  color: var(--zloty);
  text-decoration: none;
}
#s1 div ul li:hover{
  border-bottom: 2px solid var(--zloty);
}

#s1 div ul{
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-self: center;
  margin: 0 auto;
  display: block;
  list-style-type: disc;
  margin: 0;
  padding-left: 40px;}

#s1 div ul li{
  float:left;
  padding:15px;/* pamietaj, tu beda %%!! */
  list-style-type: none;
}

#s2 div {
  height: 900px;
  width: 100%;
  background-color: black}
