* {
  margin: 0;
  padding: 0;}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;}
body {
  background-color: black;
  font-family: sans-serif;
  z-index: 2;}



.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;}

.container span{
  text-transform: uppercase;
  display: block;}

.text1{
  color: white;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation-name: text, znikanienapisu;
  animation-duration: 2s, 5s;}

 .text2{
  font-size: 45px;
  color: red;
  font-weight: bold;}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -60px;}
  30% {
    letter-spacing: 27px;
    margin-bottom: -60px;}
  85% {
    letter-spacing: 3px;
    margin-bottom: -60px;}}

@keyframes znikanienapisu {
  from{background-color: red;}
  to{}}

main {
      position: relative;
      background-color: grey;
      left: -25%;
      z-index: 1;
      height: 100vh;
      width: 30%;
      opacity: 0.34;
      transition: left 1.5s;}

main:hover{
  left: 0%;}

h1 {
  top: 40%;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  text-shadow: 4px 4px 16px red;
  border: 1px solid red;}

.kwad1{
  width: 13vh;
  height: 13vh;
  border: 2px solid rgba(0, 0, 0,0.4);
  background-color: rgba(184, 182, 182,1)}
