* {
  --ikonka:url("lolicon2.png");
  --ciemnoszary:#121212;
  --zloty:#c9aa71;}

@font-face {font-family: friz; src: url(frizquadra.ttf)}
@font-face {font-family: penura; src: url(penura.otf)}
@font-face {font-family: grobold; src: url(grobold.ttf)}
@font-face {font-family: obelix; src: url(obelix.ttf)}
@font-face {font-family: natural; src: url(naturalmaker.otf)}
@font-face {font-family: adventure; src: url(adventure.otf)}
@font-face {font-family: comic; src: url(comic.otf)}

body {
  margin:0;
  color:gold;
  padding: 0;
  margin: 0;
}

#s1 div{
  display: block;
  overflow: hidden;
  height: 50px;
  width: 100vw;
  background-color: var(--ciemnoszary);
  font-family: friz;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #262626;
  color: var(--zloty);
}

#s1 div a.icon{
  margin-left: 5px;
  background:var(--ikonka) no-repeat 10px;
  height: 50px;
  width: 50px;
  display: block;
  float:left;}

#s1 div a:visited,a:link{
  color: var(--zloty);
  text-decoration: none;}


#s1 div ul{
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%); /* to center pion poz */
  margin: 0 auto;}


#s1 div ul li{
  float:left;
  padding:15px;/* pamietaj, tu beda %%!! */
  list-style-type: none;}

#s1 div ul li:hover{
  border-bottom: 2px solid var(--zloty);
  transition: 0.1s;}

#s1 div #nick,#nick2,#nick3 {
  text-align: center;
  width: 60px;
  height: 20px;
  display: block;
  border: 1px solid #c9aa71;
  background-color: #1f1b1b;
  font-weight: bold;
  color:#c9aa71;
  top: 14px;
  position: absolute;
  left: calc(85% + 133px);
  transform: translate(-50%);}

#s1 div  #nick {
  width: 60px;
  height: 20px;
  left: calc(85% - 133px);
  transform: translate(-50%);}

#s1 div #nick2 {
  width: 200px;
  height: 20px;
  left: 85%;
  transform: translate(-50%);}

#s1 div  #nick3 {
  width: 60px;
  height: 24px;
  left: calc(85% + 132px);
  transform: translate(-50%);
  cursor: pointer;}

#s1 div #nick3:hover{

}



/* sektor 2 */ /* sektor 2 */ /* sektor 2 */ /* sektor 2 */
#s2 div#glowny {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#c9aa71;
  float:left;
  height: calc(100vh - 52px);
  width: 100%;
  background-color: black}
#s2 div h2 {
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: grobold;
  margin-top:20px;
  font-size: 50px;
  letter-spacing: 3px;
  text-shadow: 7px -5px 30px rgba(201, 170, 113, 0.5);
}

/* 4 PRZYCISKI */ /* 4 PRZYCISKI */ /* 4 PRZYCISKI */
#s2 div#ramka{
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 50vh;

height: 50vh;
width: 80vw;
border:1px solid rgba(201, 170, 113, 0.7);
border-radius: 10px;
background-color: #1f1b1b;
position: absolute;
left: 50%;
transform: translate(-50%);
}
#s2 div#ramka ul{
  margin: 0;
  padding: 0;
  display: flex;
}
#s2 div#ramka ul li{
  position: relative;
  list-style: none;
  width: 200px;
  height: 200px;
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
}
#s2 div#ramka ul li:before,
#s2 div#ramka ul li:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  transition: 1s;
  z-index: -1;
}
#s2 div#ramka ul li:after{
  filter: blur(40px);
}
#s2 div#ramka ul li:hover:before,
#s2 div#ramka ul li:hover:after{
  opacity: 1;
}
#s2 div#ramka ul li a{
  text-transform: uppercase;
  line-height: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: ;
  color: #fff;
  background: #000;
  font-size: 36px;
  border-radius: 50%;

}
#s2 div#ramka ul li a.fa{
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 0.3;
}
#s2 div#ramka ul li a:hover {
  opacity: 1;
  transform: scale(1.2);
}
#s2 div#ramka ul li#ikon1 a,
#s2 div#ramka ul li#ikon1:before,
#s2 div#ramka ul li#ikon1:after
{background: linear-gradient(45deg,rgb(1,178,255),rgb(83,131,233));
  font-family: obelix;
}
#s2 div#ramka ul li#ikon2 a,
#s2 div#ramka ul li#ikon2:before,
#s2 div#ramka ul li#ikon2:after
{background: linear-gradient(45deg,rgb(147,28,75),rgb(103,44,108));
  font-family: natural;
}
#s2 div#ramka ul li#ikon3 a,
#s2 div#ramka ul li#ikon3:before,
#s2 div#ramka ul li#ikon3:after
{background: linear-gradient(45deg,#ff0000,#ffc107);
  font-family: adventure;
  font-size:40px;
}
#s2 div#ramka ul li#ikon4 a,
#s2 div#ramka ul li#ikon4:before,
#s2 div#ramka ul li#ikon4:after
{background: linear-gradient(45deg,#89ff00,#00bcd4);
  font-family: obelix;
font-size: 34px;
}

#s2 div#ramka ul li a:hover #s2 div h2{

}
