* {
  --ikonka:url("lolicon2.png");
  --ciemnoszary:#121212;
  --zloty:#c9aa71;}

@font-face {font-family: friz; src: url(frizquadra.ttf)}
@font-face {font-family: penura; src: url(penura.otf)}
@font-face {font-family: grobold; src: url(grobold.ttf)}

body {
  margin:0;
  color:gold;
  padding: 0;
  margin: 0;
}

#s1 div{
  display: block;
  overflow: hidden;
  height: 50px;
  width: 100vw;
  background-color: var(--ciemnoszary);
  font-family: friz;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #262626;
  color: var(--zloty);
}

#s1 div a.icon{
  margin-left: 5px;
  background:var(--ikonka) no-repeat 10px;
  height: 50px;
  width: 50px;
  display: block;
  float:left;}

#s1 div a:visited,a:link{
  color: var(--zloty);
  text-decoration: none;}


#s1 div ul{
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%); /* to center pion poz */
  margin: 0 auto;}


#s1 div ul li{
  float:left;
  padding:15px;/* pamietaj, tu beda %%!! */
  list-style-type: none;}

#s1 div ul li:hover{
  border-bottom: 2px solid var(--zloty);
  transition: 0.1s;}

#s1 div #nick,#nick2,#nick3 {
  text-align: center;
  width: 60px;
  height: 20px;
  display: block;
  border: 1px solid #c9aa71;
  background-color: #1f1b1b;
  font-weight: bold;
  color:#c9aa71;
  top: 14px;
  position: absolute;
  left: calc(85% + 133px);
  transform: translate(-50%);}

#s1 div  #nick {
  width: 60px;
  height: 20px;
  left: calc(85% - 133px);
  transform: translate(-50%);}

#s1 div #nick2 {
  width: 200px;
  height: 20px;
  left: 85%;
  transform: translate(-50%);}

#s1 div  #nick3 {
  width: 60px;
  height: 24px;
  left: calc(85% + 133px);
  transform: translate(-50%);
  cursor: pointer;}

#s1 div #nick3:hover{

}



/* sektor 2 */
#s2 div#glowny {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#c9aa71;
  float:left;
  height: calc(100vh - 52px);
  width: 100%;
  background-color: black}
#s2 div h2 {
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: grobold;
  margin-top:20px;
  font-size: 50px;
  letter-spacing: 3px;
  text-shadow: 7px -5px 30px rgba(201, 170, 113, 0.5);
}
#s2 div#panel{
position: absolute;
left: 50%;
transform: translate(-50%);
height: 50vh;
width: 80vw;
border:1px solid rgba(201, 170, 113, 0.7);
border-radius: 10px;
background-color: #1f1b1b;
display: flex;
align-items: center;
justify-content: center;
}

#s2 div ul{
  margin: 0;
  padding: 0;
  display: flex;
}
#s2 div li{
  position: relative;
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
}
