* {
  --ikonka:url("lolicon2.png");
  --ciemnoszary:#121212;
  --zloty:#c9aa71;}

@font-face {font-family: friz; src: url(frizquadra.ttf)}
@font-face {font-family: penura; src: url(penura.otf)}
body {
  margin:0;
  color:gold;
  padding: 0;
  margin: 0;
}

#s1 div{
  display: block;
  overflow: hidden;
  height: 50px;
  width: 100vw;
  background-color: var(--ciemnoszary);
  font-family: friz;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #262626;
  color: var(--zloty);
}

#s1 div a.icon{
  margin-left: 5px;
  background:var(--ikonka) no-repeat 10px;
  height: 50px;
  width: 50px;
  display: block;
  float:left;}

#s1 div a:visited,a:link{
  color: var(--zloty);
  text-decoration: none;}


#s1 div ul{
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%); /* to center pion poz */
  margin: 0 auto;}


#s1 div ul li{
  float:left;
  padding:15px;/* pamietaj, tu beda %%!! */
  list-style-type: none;}

#s1 div ul li:hover{
    border-bottom: 2px solid var(--zloty);}

#s1 div #nick,#nick2 {
  font-weight: bold;
  color:#c9aa71;
  display: block;
  text-align: center;
  background-color: #1f1b1b;
  border: 1px solid #c9aa71;
  width: 200px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 85%;
  transform: translate(-50%);}
/*  #s1 div  #nick2 {
    width: 30px;
    height: 24px;
    display: block;
    border: 1px solid #c9aa71;
    background-color: #1f1b1b;
    font-weight: bold;
    color:#c9aa71;
    top: 14px;
    position: absolute;
    left: 95%;
    transform: translate(-50%);} */

/* sektor 22 */
#s2 div {
  height: calc(100vh - 52px);
  width: 100%;
  background-color: black}
