* {
  margin: 0;
}
#baner {
  background-color: #45517D;
  color: white;
  font-size: 120%;
  text-align: right;
  height: 60px;
}
#lewy {
  float: left;
    background-color: #61B2EC;
    width: 40%;
    height: 500px;
}
#prawy {
    float: left;
    background-color:#8EC9F2;
    width: 60%;
    height: 500px;
}
section {
    background-color: #45517D;
    color: white;
    font-size: 150%;
    text-align: center;
}
a {
  color: orange;
}
a:visited {
  color: green;
}
table {
  width: 100%;
}
