* {
  font-family: arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, tr, th {
  border: 1px solid black;
  border-collapse: collapse;
}

#gornyblok, #dolnyblok {
  position: relative;
  width: 100vw;
  height: 7.5vh;
  text-transform: uppercase;
  font-size: 2.7vh;
}
#gornyblok th,#dolnyblok th{
  width: 33.33%;
}
#glowny{
display: block;
position: relative;
width: 100vw;
height: 85vh;
}
#dolnyblok {
width: 100vw;
height: 7.5vh;
bottom: 0;
}

/* KOLORKI */
.lewo {
  background-color: #ff8800;
}
.srodek {
  background-color: #bb00ff;
}
.prawo {
  background-color: #21bcff;

}
#glowny,#kody {
  background-color: #4ccf51;
}
.lewodol {
  background-color: #4d85ff;
}
.srodekdol {
  background-color: #ff2121;

}
.prawodol {
  background-color: #e9ed00;
}
/* PANELE */

#kody,#graj,#kasyno,#coinflip,#ustawienia,#ruletka,#rynek,#saper {
  background-color: #4ccf51;
  display: none;
  position: relative;
  width: 100vw;
  height: 85vh;
}
#kody table{
  width: 100vw;
}
#kody table th.a{
  background-color: #b5b5b5;
  width: 75vw;
  height: 40px;
}
#kody table th.b{
  width: 25vw;
}
#graj table tr{
  text-transform: uppercase;
  width: 100vw;
  border: 1px solid black;
  border-collapse: collapse;
}
#graj table th{
  width: 50vw;
  height: 21.25vh;
}
#graj table th.a{
  display: flex;
  background-color: black;
}
#graj table img{
  background-position: top center;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

/* PODPANELE */
#kasyno table th{
  width: 50vw;
  height: 21.25vh;
}
#kasyno table th.a{
background-color: #9d03fc;
}
#kasyno table th.b{
background-color: red;
}
#kasyno table th.c{
background-color: #03ad00;
}
/* COIN FLIP CSS COIN FLIP CSS COIN FLIP CSS */
#coinflip div#obiekt{
  position: absolute;
  top: calc(3vh);
  left: 50%;
  transform: translate(-50%,0);
  background-color: #e8e8e8;
}
#coinflip table.a {
  width: 240px;
  height: 240px;
  background-color: #e8e8e8;
}
#coinflip table.b {

  }

#coinflip table.a tr th{}

#coinflip table.b tr th{
  width: 80px;
  height: 40px;
  background-color: #e8e8e8;}

#coinflip table.c tr th{
    width: 160px;
    height: 40px;
  }
#coinflip table.d tr th{
    width: 240px;
    height: 40px;
  }

#coinflip table.d tr th p#pstawka{
    color: red;
  }
#coinflip table.a tr th#obstawienie{
    font-size: 40px;
    text-transform: uppercase;
  }
#ustawienia{
  }

#rynek div{
  display: flex;


}
#rynek div#okienko{
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,14%);
  height: 400px;
  width: 250px;
  background-color: #3ab53f;
  border: 1px solid black;
  background-color: lightgrey;
  text-align: center;
}
#rynek img{
border-radius: 50%;
}
#rynek #okienko p.cena{
  font-size: 150%;
}
#rynek #okienko #itemcena{
  color: red;
  font-size: 160%;
}
#rynek div#okienko2{
  position: relative;
  bottom: 0;
  transform: translate(0,20%);
  border-top: 1px solid black;
  height: 300px;
  width: 100%;
}
#okienko2 table {
  width: 250px;
}
#okienko2 th {
  width: 33%;
  height: 50px;
}
#okienko2 th.dwa {
  font-size: 90%;
}
.aktyw:active{
  color: lime;

}


#ustawienia table{
  width: 100vw;
}
#ustawienia table th.a{
  background-color: lightgrey;
  width: 70vw;
  height: 40px;
}
#ustawienia table th.b{
  background-color: lightgrey;
  width: 15vw;
}
#ustawienia table th.c{
  width: 15vw;
  background-color: red;
}

span#zlywidok{
    display: none;
  }
@media (min-width: 800px),(orientation: landscape){
  * {
    display: none;
    }
  html,body,#gornyblok{
    display: block;
    background-color: orange;
  }
  #glowny{
    border-bottom: 1px solid black;
    display: flex;
    font-size: 45px;
    justify-content: center;
    align-items: center;
  }
  span#zlywidok{
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 75vw;
    height: 50vh;
    display: flex;
    text-align: center;
    border: 5px solid red;
  }

  @media (orientation: landscape){
  #glowny{
    font-size: 30px;
  }
  span#zlywidok{
    height: 65vh;
  }
  }
