* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EEEEEE;

}
#contener {
	width: 1000px;
	margin: auto;
	text-align: center;
}
#logo,#menu{
	float: left;
background-color: #C0C0C0;
height: 100px;
padding-top: 10px;
padding-bottom: 10px;
width: 1000px;
}

#logo {
	width: 400px;
}
#menu {
	width: 600px;
}

#glowny {
	margin: 50px;
}
#baner {
	background-color: #DDDDDD;
}
footer {
bottom: 0;
position: absolute;
	text-align: right;
	height: 50px;
	left: 50%;
	transform: translate(-50%);
	float: left;
background-color: #C0C0C0;
width: 1000px;

}

a {
	color: #555555;
	margin: 50px;
	font-size:200%;
	text-decoration: none;
}
hr {
	background-color: #C0C0C0;
	width: 70%;
	left: 50%;
	transform: translate(20%);
	height: 2px;
}
table {
	text-align: left;
}

#butt {

}

#pp {
	text-transform: uppercase;
}
