body {
	margin: 0;
}

#baner {


	background-color: #E8C84E;
	height: 50px;
	font-size: 130%;
	text-align: center;
}

#lewy {
	float: left;
	background-color: #FFB544;
	height: 500px;
	width: 40%;
	font-size: 130%;
}

#srodek {
	float: left;
	height: 500px;
	width: 30%;
	text-align: center;
}
#prawy {
	float: left;
	background-color:  #FFB544;
	height: 500px;
	width: 30%;
	font-size: 130%;
	text-align: center;
}

footer {
	float: left;
	background-color: #E8C84E;
	height: 50px;
	text-align: right;
	padding: 10px;
	width: calc(100% - 20px);
}
ul,li {
	padding-top: 30px;
	background-color: #FFAA00;
}
img, h3 {
	margin-top: 50px;
}
form {
	margin-bottom: 100px;
}
